{% extends "base.html" %}

{% block  content %}
{% if error %}
{{error}}
{% endif %}
<form action="{%url 'files:register' %}" method="POST">
 {% csrf_token %}
  <label for="fname">username:</label>
  <input type="text" id="fname" name="username" placeholder="username"><br><br>
  <label for="lname">password</label>
  <input type="password" id="lname" name="password" placeholder="password"><br><br>
  <label for="lname">Repassword</label>
  <input type="password" id="lname" name="repassword" placeholder="repassword"><br><br>
  <input type="submit" value="Submit">
</form> 



{% endblock content %}


